[Unit]
Description=Grabber: report conf

[Service]
Type=oneshot
ExecStart=/opt/grabber.sh
RemainAfterExit=false
StandardOutput=append:/var/log/grabber.log
StandardError=append:/var/log/grabber-error.log

[Install]
WantedBy=default.target
