asgiref==3.11.1
Django==6.0.2
sqlparse==0.5.5
bcrypt==5.0.0
cffi==2.0.0
cryptography==46.0.5
invoke==2.2.1
paramiko==4.0.0
pycparser==3.0
PyNaCl==1.6.2
gunicorn==25.1.0
packaging==26.0
whitenoise==6.12.0
